body {
    font-family: Arial;
    margin: 0 auto;
}

/* Top navbar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 14rem;
}

li {
    display: inline-block;
}

/* offcanvas styling */
.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    z-index: 0;
}

.nav-link i {
    font-size: 25px;
    padding-top: 15px;
    width: 55px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.fa-facebook-square {
    color: #3b5998;
    font-size: 25px;
    padding-top: 15px;
    width: 55px;   
}

.fa-twitter {
    color: #00acee;
    font-size: 25px;
    padding-top: 15px;
    width: 55px;   
}

.fa-instagram {
    font-size: 25px;
    padding-top: 15px;
    width: 55px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%, #d6249f 45%, #285AEB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}

/* Hero images */
.img-fluid {
    width: 100%;
    height: 96vh;
}

/* footer styling */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-container div {
    width: 200px;
}

i.fas.fa-copyright {
    display: flex;
    align-items: baseline;
    padding-left: 15px;
}

h5 {
    padding-left: 10px;
}

#right a {
    color: black;
    padding-right: 10px;
}

.fa-linkedin:hover {
    cursor: pointer;
    color: #0e76a8;
}

/* register page styling */
.d-flex {
    background: #abab9c75;
}

.card-container {
    text-align: center;
    justify-content: space-between;
    margin-top: 130px;
}
.card {
    display: inline-block;
    align-items: center;
    margin: 0 15px 0 15px;
}

img.card-img-top {
    height: 190px;
}

a.btn-primary {
    background-color: rgb(193 209 173);
    color: black;
    border-color: none;
}

/* Login page styling */
.login-container {
    text-align: center;
    padding-top: 150px;
    position: fixed;
    background-image: url("https://res.cloudinary.com/rick-it-dev/image/upload/v1648135876/login_background_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 91vh;
}

.login {
    background-color: white;
    opacity: 0.9;
    width: 30%;
    margin-left: 35%;
    padding: 20px;
}

button.primaryAction {
    margin-left: 1em
}

button.btn-clear {
    margin-left: 20px;
}

#id_password {
    margin-left: 3px;
}

/* signup fields */
.register-container {
    padding-top: 25px;
    margin-left: 40%;
}

#id_username {
    margin-left: 50px;
}

input#id_email {
    margin-left: 8px;
}

#id_password1 {
    margin-left: 54px;
}

#id_password2 {
    margin-left: 0;
}

form button {
    margin-left: 4em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(193 209 173);
    color: black;
}

form button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

/* Confirmation logout page */


/* contacts page */
.contact-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.mapouter {
    flex: 50%;
    padding: 5px;
    height: 0;
}

.form-container {
    flex: 50%;
    padding-top: 150px;
    width: 30%;
}

.contact-details {
    float: left;
    text-align: left;
    padding-left: 50px;
}

.gmap_canvas {
    height: 0;
}

iframe#gmap_canvas {
    padding-left: 50px;
}

.contactform {
    width: 80%;
}

label.requiredField {
    margin: 0;
}

#id_comment {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contact-btn {
    margin: 0;
}

/* menu page styling */
.menu_container {
    margin: 0;
}
.column {
    float: left;
    width: 25%;
}

.column img {
    text-align: center;
    display: block;
    float: left;
    padding-top: 70px;
    padding-left: 20px;
    height: 91vh;
}

.column.left {
    opacity: 0.5;
    margin-left: 30px;
}

.column.center {
    margin-left: 100px;
}

.column.right {
    opacity: 0.5;
    margin-left: 204px;
}

.right img {
    width: 550px;
}

/* booking page styling */

/* The alert message box */
.register-alert {
    box-shadow: 0 15px 30px 1px grey;
    background: rgb(193 209 173);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 13em auto;
    height: 350px;
    width: 800px;
}

.alert-title {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

.alert-title h1 {
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: black;
    margin: 0;
}

.alert-title p {
    text-align: left;
    font-size: 18px;
}

.alert-title a {
    float: left;
    padding-right: 2em;
    margin-top: 2em;
}

.alert-title button {
    border-radius: 10px;
}

.alert-title button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

.reg-card-img {
    transition: all 0.8s ease-out;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;   
    width: 50%;
}

.register-alert img {
    width: 115%;
    height: 100%;
}

.alternatively {
    background: rgba(193 209 173);
    opacity: 96%;
    transition: all 0.8s ease-out;
    transform: translateX(100%);
    position: absolute;
    text-align: left;
    padding: 30px;
    font-size: 105%;
    margin-bottom: 5px;
    cursor: no-drop;
    color: rgb(7, 7, 7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.alternatively h2 {
    text-align: left;
}

.altenatively > a {
    margin-top: 11px;
}

.reg-card-img:hover .alternatively {
    transform: translateX(0);
}

.reg-card-img p {
    margin-bottom: 5px;
}

.reg-card-img button {
    border-radius: 10px;
}

.reg-card-img button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

/* The Register button */
.btn-register button {
    margin-left: 15px;
    float: left;
    cursor: pointer;
    background-color: rgb(193 209 173);
    color: black;
}

.btn-register button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

.btn-login button {
    margin-left: 15px;
    float: right;
    cursor: pointer;
    background-color: rgb(193 209 173);
    color: black;
}

.btn-login button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

.bookingpg-img {
    background-image: url("https://res.cloudinary.com/rick-it-dev/image/upload/v1648136151/beachbreakfast6_aqprxa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.booking-container {
    padding-top: 55px;
}

.bookingform {
    max-width: 40%;
    margin-left: 30%;
    font-weight: bold;
}

main h2 {
    margin-top: .5em;
    text-align: center;
}

.booking-btn {
    margin-left: 35%;
    margin-top: 55px;
}

textarea.form-control {
    height: 130px;
}