body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0 auto;
}

/* Top navbar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 14rem;
}

li {
    display: inline-block;
}

/* offcanvas styling */
.offcanvas-title {
    font-weight: bolder;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    z-index: 0;
}

.nav-link i {
    font-size: 25px;
    padding-top: 15px;
    width: 55px;
}

.nav-item-home a {
    text-decoration: none;
    color: black;
}

.nav-item-register a {
    text-decoration: none;
    color: black;
}

.nav-item-login a {
    text-decoration: none;
    color: black;
}

.nav-item-logout a {
    text-decoration: none;
    color: black;
}

.fa-facebook-square {
    color: #3b5998;
    font-size: 25px;
    padding-top: 15px;
    width: 55px;   
}

.fa-twitter {
    color: #00acee;
    font-size: 25px;
    padding-top: 15px;
    width: 55px;   
}

.fa-instagram {
    font-size: 25px;
    padding-top: 15px;
    width: 55px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%, #d6249f 45%, #285AEB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}

/* Hero images */
.img-fluid {
    width: 100%;
    height: 96vh;
}

/* footer styling */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-container div {
    width: 200px;
}

i.fas.fa-copyright {
    display: flex;
    align-items: baseline;
    padding-left: 15px;
}

h5 {
    padding-left: 10px;
}

#right a {
    color: black;
    padding-right: 10px;
}

.fa-linkedin:hover {
    cursor: pointer;
    color: #0e76a8;
}

/* register page styling */
.d-flex {
    background: #abab9c75;
}

.card-container {
    text-align: center;
    justify-content: space-between;
    margin-top: 130px;
}
.card {
    display: inline-block;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

img.card-img-top {
    height: 190px;
}

a.btn-primary {
    background-color: rgb(193 209 173);
    color: black;
}

/* register fields */
.register-container {
    padding-top: 25px;
    margin-left: 40%;
}

#id_username {
    margin-left: 50px;
}

input#id_email {
    margin-left: 8px;
}

#id_password1 {
    margin-left: 54px;
}

#id_password2 {
    margin-left: 0;
}

form button {
    margin-left: 4em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(193 209 173);
    color: black;
    font-weight: bolder;
}

form button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

/* Login page styling */
.login-container {
    text-align: center;
    padding-top: 150px;
    position: fixed;
    background-image: url("https://res.cloudinary.com/rick-it-dev/image/upload/v1648135876/login_background_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 91vh;
}

.login {
    background-color: white;
    opacity: 0.9;
    width: 30%;
    margin-left: 35%;
    padding: 20px;
}

button.primaryAction {
    margin-left: 1em
}

button.btn-clear {
    margin-left: 20px;
}

#id_password {
    margin-left: 3px;
}

/* Confirmation logout page */
.logout-card-img {
    transition: all 0.8s ease-out;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;   
    width: 40%;
}

/* menu page */
.menu_container {
    margin: 0;
}
.column {
    float: left;
    width: 25%;
}

.column img {
    text-align: center;
    display: block;
    float: left;
    padding-top: 70px;
    padding-left: 20px;
    height: 91vh;
}

.column.left {
    opacity: 0.5;
    margin-left: 3px;
}

.column.center {
    margin-left: 78px;
}

.column.right {
    opacity: 0.5;
    margin-left: 160px;
}

.right img {
    width: 437px;
}

/* contacts page */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 40%;
    margin-left: 30%;
    margin-top: 5em;
    margin-bottom: 6em;
}

.form-container p {
    font-weight: bolder;
    text-align: center;
}

.contactform #id_email {
    margin: 0;
}

.form-container button {
    margin-top: 2em;
    margin-left: 0;
}

.contact-details {
    float: left;
    margin-top: 3em;
    margin-right: 58px;
    margin-left: 40%;
}

div .gmap_canvas {
    float: left;
    align-items: center;
    height: 388px;
}


/* booking page styling */
/* The alert message box for user NOT authenticated */
.register-alert {
    box-shadow: 0 15px 30px 1px grey;
    background: rgb(193 209 173);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 13em auto;
    height: 350px;
    width: 800px;
}

.alert-title {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

.alert-title h1 {
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: black;
    margin: 0;
}

.alert-title p {
    text-align: left;
    font-size: 18px;
    margin-top: 9px;
}

.alert-title a {
    float: left;
    padding-right: 2em;
    margin-top: 2em;
}

.alert-title button {
    border-radius: 10px;
    background-color: rgb(193 209 173);
}

.alert-title button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

.reg-card-img {
    transition: all 0.8s ease-out;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;   
    width: 50%;
}

.register-alert img {
    width: 115%;
    height: 100%;
}

.alternatively {
    background: rgba(193 209 173);
    opacity: 96%;
    transition: all 0.8s ease-out;
    transform: translateX(100%);
    position: absolute;
    text-align: left;
    padding: 10px;
    font-size: 105%;
    margin-bottom: 5px;
    cursor: no-drop;
    color: rgb(7, 7, 7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.alternatively h2 {
    text-align: left;
}

.altenatively > a {
    margin-top: 11px;
}

.reg-card-img:hover .alternatively {
    transform: translateX(0);
}

.reg-card-img p {
    margin-bottom: 5px;
    font-size: 18px;
}

.reg-card-img button {
    border-radius: 10px;
    margin-top: 15px;
    background-color: rgb(193 209 173);
    font-weight: bolder;
}

.reg-card-img button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

/* The Register button */
.btn-register button {
    margin-left: 15px;
    float: left;
    cursor: pointer;
    background-color: rgb(193 209 173);
    color: black;
}

.btn-register button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

.btn-login button {
    margin-left: 15px;
    float: right;
    cursor: pointer;
    background-color: rgb(193 209 173);
    color: black;
}

.btn-login button:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

/* authenticated user booking page */

.bookingpg-img {
    background-image: url("https://res.cloudinary.com/rick-it-dev/image/upload/v1648136151/beachbreakfast6_aqprxa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.booking-container {
    padding-top: 55px;
}

.bookingform {
    max-width: 40%;
    margin-left: 30%;
    font-weight: bold;
}

main h2 {
    margin-top: .5em;
    text-align: center;
    font-weight: bolder;
}

.booking-btn {
    margin-left: 35%;
    margin-top: 55px;
}

textarea.form-control {
    height: 130px;
}

/* User Bookings List */
.user-booking {
    box-shadow: 0 15px 30px 1px grey;
    background: rgb(193 209 173);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 13em auto;
    height: 350px;
    width: 800px;
}

.user-booking {
    margin: 5em auto;
    height: 222px;
    width: 596px;
}

#yourbooking {
    padding: 30px;
    width: 50%;
}

#yourbooking {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

.alert-title p {
    font-size: 15px;
    margin-top: 5px;
}

#yourbooking a {
    margin-top: 0;
    padding-right: 0;
    text-decoration: none;
    color: black;
}

#yourbooking a:hover {
    background-color: rgb(95, 95, 236);
    color: white;
}

.alert-title button {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 14px;
}

.logout-card-img-user {
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 50%;
}

.logout-card-img-user img {
    height: 100%;
    width: 98%;
    margin-left: 17px
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    /* home page Not Authenticated User*/
    .navbar-brand {
        margin-left: 0px;
        font-size: 15px;
    }

    .container-fluid {
        width: 98%;
    }

    .navbar ul {
        margin-left: -14px;
    }

    .offcanvas-body {
        padding-bottom: 77px;
        margin-left: 23px;
    }

    .nav-link i {
        margin-left: 15px;
    }

    .fa-facebook-square {
        margin-left: 15px;
    }

    .fa-twitter {
        margin-left: 15px;
    }

    .fa-instagram {
        margin-left: 15px;
    }

    .img-fluid {
        height: 45vh;
        margin-top: 42%;
    }

    .navbar ul {
        padding-right: 0;
        margin: -31px;
    }

    #left h5 {
        font-size: 17px;
    }

    #center {
        font-size: 14px;
    }

    .footer-container div {
        padding-left: 8px;
    }

    i.fas.fa-copyright {
        padding-left: 6px;
        font-size: 13px;
    }

    #center p {
        font-size: 13px;
        padding-top: 6px;
        padding-left: 6px;
    }

    /* Home page Authenticated User */
    #auth_user {
        margin: -47px;
        font-size: 13px;
    }


    /* register page*/
    .navbar {
        position: fixed;
        transition: top 0.3s; /* transition hide navbar when scrolling down */
    }

    .card-container {
        margin-top: 90px;
    }

    .card {
        width: 92%;
        margin-left: 2.5%;
        margin-top: 10px;
    }

    .register-container {
        height: 87vh;
        width: 95%;
        margin-left: 2.5%;
    }

    p label {
        font-size: 14px;
    }

    #id_username {
        margin-left: 43px;
    }

    input#id_email {
        margin-left: 6px;
    }

    form button {
        margin-left: 3em;
    }

    /* Login page */
    .login-container {
        margin-top: 20%;
        height: 80vh;
    }

    #id_password1 {
        margin-left: 45px;
    }

    .login {
        width: 95%;
        margin-left: 2.5%;
        padding: 6px;
        height: 54vh;
        margin-top: -102px;
    }

    /* Menu page */
    .column.left {
        display: none;
    }

    .column.center {
        margin: 0;
    }

    .column.right {
        display: none;
    }
    
    .column img {
        padding-left: 0;
        padding-top: 77px;
        width: 400%;
    }

    /* Contacts Page */
    .form-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 8em;
        margin-bottom: 0;
    }

    .contact-details {
        margin-top: 3em;
        margin-right: 0px;
        margin-left: 6%;
    }

    .gmap_canvas {
        width: 300px;
        margin-left: 7px;
        margin-bottom: 100px;
        width: 95% !important;
    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 8em auto;
        height: 223px;
        width: 310px;
    }

    .alert-title {
        padding: 17px;
        width: 50%;
    }

    .alert-title h1 {
        font-size: 18px;
        font-weight: bolder;
    }

    .alert-title p {
        font-size: 12px;
        margin-top: 5px;
    }

    .alert-title a {
        margin-top: 0;
        padding-right: 12px;
    }

    .alert-title button {
        font-size: 13px;
        font-weight: bolder;
        margin-top: 14px;
    }

    .alternatively h2 {
        font-size: 18px;
        font-weight: bolder;
    }

    .reg-card-img p {
        font-size: 12px;
    }

    .reg-card-img button {
        margin-top: 4px;
        font-size: 12px;
        font-weight: bolder;
    }


    /* Authenticated User Booking Page */
    .booking-container {
        padding-top: 100px;
    }

    .bookingform {
        max-width: 90%;
        margin-left: 5%;
        height: 100vh;
    }

    textarea.form-control {
        height: 100px;
    }

    .booking-btn {
        margin-left: 15%;
        margin-top: 13px;
    }

    .bookingpg-img {
        height: 165vh;
    }

    /* User Booking List */
    .user_booking_cards {
        padding-bottom: 235px;
        margin-bottom: -366px;
    }
    .user-booking {
        margin-top: 7em;
        margin-bottom: 2em;
        height: 171px;
        width: 295px;
    }

    #yourbooking {
        padding: 5px;
        width: 45%;
    }

    /* logout page */
    .alert-title button {
        margin-left: 0;
        margin-top: 0;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px)  {
    /* home page */
    .navbar {
        position: fixed;
        transition: top 0.3s; /* transition hide navbar when scrolling down */
    }

    .navbar-brand {
        margin-left: 0;
    }

    #auth_user {
        margin-left: -49px;
    }

    .navbar ul {
        margin-left: 3px;
    }

    .offcanvas-body {
        padding-bottom: 0px;
        margin-left: 23px;
        padding-left: 0px;
    }

    ul {
        padding-right: 0rem;
    }

    .img-fluid {
        height: 45vh;
        margin-top: 47%;
    }

    .footer-container div {
        padding-left: 8px;
    }

    i.fas.fa-copyright {
        padding-left: 6px;
        font-size: 13px;
    }

    #center p {
        font-size: 13px;
        padding-top: 6px;
        padding-left: 6px;
    }

    /* register page */
    .card-container {
        margin-top: 105px;
    }

    .card {
        width: 90%;
        margin-top: 2%;
    }

    .register-container {
        height: 65vh;
        width: 90%;
        margin-left: 6%;
    }

    p label {
        font-size: 14px;
    }

    #id_username {
        margin-left: 50px;
    }

    input#id_email {
        margin-left: 14px;
    }

    #id_password2 {
        margin-left: 7px;
    }

    form button {
        margin-left: 3em;
    }

    /* Login page */
    .login-container {
        height: 39vh;
        margin-top: 102%;
    }

    #id_password1 {
        margin-left: 53px;
    }

    .login {
        width: 95%;
        margin-left: 2.5%;
        padding: 10px;
        height: 35vh;
        margin-top: -418px;
    }

    /* Menu page */
    .column.left {
        display: none;
    }

    .column.center {
        margin: 0;
    }

    .column.right {
        display: none;
    }
    
    .column img {
        padding-left: 0;
        padding-top: 77px;
        width: 400%;
    }

    /* Contacts Page */
    .form-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 8em;
        margin-bottom: 0;
    }

    .contact-details {
        margin-top: 3em;
        margin-right: 0px;
        margin-left: 6%;
    }

    .gmap_canvas {
        margin-left: 22px;
        margin-bottom: 100px;
        width: 90% !important;
    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 13em auto;
        height: 210px;
        width: 95%;
    }

    .alert-title {
        padding: 17px;
        width: 50%;
    }

    .alert-title h1 {
        font-size: 18px;
        font-weight: bolder;
    }

    .alert-title p {
        font-size: 12px;
        margin-top: 5px;
    }

    .alert-title a {
        margin-top: 0;
        padding-right: 12px;
    }

    .alert-title button {
        font-size: 13px;
        font-weight: bolder;
        margin-top: 14px;
        margin-left: 0;
    }

    .alternatively h2 {
        font-size: 18px;
        font-weight: bolder;
    }

    .reg-card-img p {
        font-size: 12px;
    }

    .reg-card-img button {
        margin-top: 4px;
        font-size: 12px;
        font-weight: bolder;
    }

    /* Authenticated User Booking Page */
    .booking-container {
        padding-top: 100px;
    }

    .bookingform {
        max-width: 90%;
        margin-left: 5%;
    }

    textarea.form-control {
        height: 100px;
    }

    .booking-btn {
        margin-left: 15%;
        margin-top: 13px;
    }

    .bookingpg-img {
        height: 140vh;
    }

    /* User Bookings Page */
    .user_booking_cards {
        padding-top: 117px;
        padding-bottom: 150px;
        margin-bottom: -232px;
    }

    .user-booking {
        width: 349px;
        margin: 5px;
    }

    #yourbooking {
        width: 50%;
        padding: 26px;
    }

    .logout-card-img-user img {
        margin-left: 8px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    /* home page */
    .navbar-brand {
        margin-left: 0px;
    }

    .navbar ul {
        margin-left: -14px;
    }

    .offcanvas-body {
        padding-bottom: 77px;
        margin-left: 23px;
    }

    .nav-link i {
        margin-left: 15px;
    }

    .fa-facebook-square {
        margin-left: 15px;
    }

    .fa-twitter {
        margin-left: 15px;
    }

    .fa-instagram {
        margin-left: 15px;
    }

    .img-fluid {
        height: 45vh;
        margin-top: 42%;
    }

    #auth_user {
        margin-left: -47px;
    }

    .navbar ul {
        padding-right: 0;
        margin: -30px;
    }

    #left h5 {
        font-size: 17px;
    }

    #center {
        font-size: 14px;
    }

    .footer-container div {
        padding-left: 8px;
    }

    i.fas.fa-copyright {
        padding-left: 6px;
        font-size: 13px;
    }

    #center p {
        font-size: 13px;
        padding-top: 6px;
        padding-left: 6px;
    }
    
    /* register page*/
    .navbar {
        position: fixed;
        transition: top 0.3s; /* transition hide navbar when scrolling down */
    }

    .card-container {
        margin-top: 117px;
    }

    .card {
        width: 92%;
        margin-left: 2.5%;
        margin-top: 10px;
    }

    .register-container {
        height: 60vh;
        width: 90%;
        margin-left: 5%;
    }

    .register-container p {
        margin-left: 12px;
    }

    .register-container form {
        margin-left: 5px;
    }

    p label {
        font-size: 14px;
    }

    #id_username {
        margin-left: 43px;
    }

    #id_password1 {
        margin-left: 45px;
    }

    input#id_email {
        margin-left: 6px;
    }

    form button {
        margin-left: 4em;
    }

    /* Login page */
    .login-container {
        height: 48vh;
        margin-top: 95%;
    }

    #id_password1 {
        margin-left: 45px;
    }

    .login {
        width: 95%;
        margin-left: 2.5%;
        height: 39vh;
        margin-top: -410px;
    }

    /* logout page */
    #signout button {
        margin-left: 0;
    }

    /* Menu page */
    .column.left {
        display: none;
    }

    .column.center {
        margin: 0;
    }

    .column.right {
        display: none;
    }
    
    .column img {
        padding-left: 0;
        padding-top: 94px;
        padding-bottom: 15px;
        width: 400%;
    }

    /* Contacts Page */
    .form-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 8em;
        margin-bottom: 0;
    }

    .contact-details {
        margin-top: 3em;
        margin-right: 0px;
        margin-left: 6%;
    }

    .gmap_canvas {
        width: 95% !important;
        margin-left: 7px;
        margin-bottom: 100px;
    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 13em auto;
        height: 210px;
        width: 95%;
    }

    .alert-title {
        padding: 17px;
        width: 42%;
    }

    .alert-title h1 {
        font-size: 18px;
        font-weight: bolder;
    }

    .alert-title p {
        font-size: 12px;
        margin-top: 5px;
    }

    .alert-title a {
        margin-top: 0;
        padding-right: 2px;
    }

    .alert-title button {
        font-size: 13px;
        font-weight: bolder;
    }

    .alternatively h2 {
        font-size: 18px;
        font-weight: bolder;
    }

    .reg-card-img p {
        font-size: 12px;
    }

    .reg-card-img button {
        margin-top: 4px;
        font-size: 12px;
        font-weight: bolder;
    }

    /* Authenticated User Booking Page */
    .booking-container {
        padding-top: 115px;
    }

    .bookingform {
        max-width: 90%;
        margin-left: 5%;
    }

    textarea.form-control {
        height: 100px;
    }

    .booking-btn {
        margin-left: 15%;
        margin-top: 13px;
    }

    .bookingpg-img {
        height: 138vh;
    }

    .alert-control-register button {
        margin-top: 14px;
    }

    /* User Bookings Page */
    .user_booking_cards {
        padding-top: 117px;
        padding-bottom: 150px;
        margin-bottom: -232px;
    }

    .user-booking {
        width: 354px;
        margin: 10px;
    }

    #yourbooking {
        width: 50%;
        padding: 26px;
    }

    .logout-card-img-user img {
        margin-left: 8px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 411px) {
    /* home page */
    .img-fluid {
        height: 40vh;
        margin-top: 60%;
    }

    /*login page */
    .login {
        height: 32vh;
        margin-top: -430px;
    }

    .login-container {
        margin-top: 99%;
    }

    /* menu */
    .column img {
        padding-left: 0;
        padding-top: 133px;
        padding-bottom: 133px;
        width: 400%;
        margin-top: 38px;
    }    

    /* Booking alert-card */
    .reg-card-img button {
        margin-top: 22px;
    }

    /* Double booking alert message */
    .alert-control-register button {
        margin-top: 14px;
    }

    /* User Bookings Page */
    .user_booking_cards {
        padding-top: 117px;
        padding-bottom: 150px;
        margin-bottom: -232px;
    }

    .user-booking {
        width: 370px;
        margin: 10px;
    }

    #yourbooking {
        width: 50%;
        padding: 26px;
    }

    .logout-card-img-user img {
        margin-left: 8px;
    }

}

@media only screen and (min-width: 412px) and (max-width: 539px) {
    /* home page */
    .navbar-brand {
        margin-left: 4px;
    }

    ul {
        padding-right: 2rem;
    }

    .navbar ul {
        margin-left: -43px;
    }

    .offcanvas-body {
        padding-bottom: 77px;
        padding-left: 67px;
    }

    .offcanvas.show {
        transform: none;
        width: 100%;
    }

    .img-fluid {
        width: 100%;
        height: 62vh;
        padding-top: 173px;
    }

    /* register page*/
    .navbar {
        position: fixed;
        transition: top 0.3s; /* transition hide navbar when scrolling down */
    }

    .card-container {
        margin-top: 110px;
    }

    .card {
        width: 85%;
    }

    .register-container {
        height: 55vh;
        width: 80%;
        margin-left: 10%;
    }
    
    /* Login page */
    .login-container {
        height: 110vh;
        margin-top: 13%;
    }

    #id_password1 {
        margin-left: 54px;
    }

    .login {
        width: 95%;
        margin-left: 2.5%;
        height: 30vh;
        margin-top: -92px;
    }

    /* Menu page */
    .column.left {
        display: none;
    }

    .column.center {
        margin: 0;
    }

    .column.right {
        display: none;
    }
    
    .column img {
        padding-left: 0;
        padding-top: 150px;
        padding-bottom: 100px;
        width: 400%;
    }

    /* Contacts Page */
    .form-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 8em;
        margin-bottom: 0;
    }

    .form-container button {
        margin-left: 70px;
    }

    .contact-details {
        margin-top: 3em;
        margin-right: 0px;
        margin-left: 6%;
    }

    .gmap_canvas {
        width: 95% !important;
        margin-left: 7px;
        margin-bottom: 100px;
    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 15em auto;
        height: 230px;
        width: 95%
    }

    .alert-title {
        padding: 17px;
        width: 47%;
    }

    .alert-title h1 {
        font-size: 18px;
        font-weight: bolder;
    }

    .alert-title p {
        font-size: 12px;
        margin-top: 5px;
    }

    .alert-title a {
        margin-top: 0;
        padding-right: 2px;
    }

    .alert-title button {
        font-size: 13px;
        font-weight: bolder;
        margin-top: 14px;
        margin-left: 0;
    }

    .alternatively h2 {
        font-size: 18px;
        font-weight: bolder;
    }

    .reg-card-img {
        width: 52%;
    }

    .reg-card-img p {
        font-size: 12px;
    }

    .reg-card-img button {
        margin-top: 4px;
        font-size: 12px;
        font-weight: bolder;
    }

    /* Authenticated User Booking Page */
    .booking-container {
        padding-top: 115px;
    }

    .bookingform {
        max-width: 90%;
        margin-left: 5%;
    }

    textarea.form-control {
        height: 100px;
    }

    .booking-btn {
        margin-left: 22%;
        margin-top: 13px;
    }

    .bookingpg-img {
        height: 128vh;
    }

    /* User Bookings Page */
    .user_booking_cards {
        padding-top: 137px;
        padding-bottom: 104px;
        margin-bottom: -232px;
    }

    .user-booking {
        width: 382px;
        margin: 15px;
    }

    #yourbooking {
        width: 50%;
        padding: 26px;
    }

    .logout-card-img-user img {
        margin-left: 8px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
    /* home page */
    .navbar-brand{
        font-size: 13px;
    }

    ul {
        padding: 0;
    }

    .offcanvas.show {
        width: 50%;
    }

    .nav-link i {
        padding-left: 0;
    }

    .img-fluid {
        height: 49vh;
        margin-top: 170px;
    }

    h5 {
        padding-left: 0px;
    }

    i.fas.fa-copyright {
        margin-top: 15px;
    }

    .footer-container div {
        width: 200px;
    }

    .fab, .far {
        padding-left: 0;
    }

    #center {
        margin-top: 16px;
        margin-left: 23px;
        font-size: 15px;
    }

    #right {
        padding-left: 75px;
    }

    /* register page*/
    .navbar {
        position: fixed;
        transition: top 0.3s; /* transition hide navbar when scrolling down */
    }

    .card-container {
        margin-top: 60px;
    }

    .card {
        width: 65%;
        margin-top: 10px;
    }

    .register-container {
        margin-left: 21%;
        height: 60vh;
    }

    /* Login page */
    .login-container {
        height: 84vh;
        margin-top: 8%;
    }

    .login {
        width: 65%;
        margin-left: 17.5%;
        padding: 9px;
    }

    /* Menu page */
    .column.left {
        display: none;
    }

    .column.center {
        margin: 0;
    }

    .column.right {
        display: none;
    }
    
    .column img {
        padding-left: 0;
        padding-top: 54px;
        width: 400%;
    }

    /* Contacts Page */
    .form-container {
        width: 75%;
        margin-left: 12.5%;
        margin-top: 6em;
        margin-bottom: 30px;
    }

    .form-container button {
        margin-left: 70px;
    }

    .contact-details {
        margin-left: 13%;
    }

    .gmap_canvas {
        width: 95% !important;
        margin-left: 10px;
        margin-bottom: 100px;
    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 14em auto;
        height: 230px;
        width: 95%
    }

    .alert-title {
        padding: 17px;
        width: 47%;
    }

    .alert-title h1 {
        font-size: 18px;
        font-weight: bolder;
    }

    .alert-title p {
        font-size: 12px;
        margin-top: 5px;
    }

    .alert-title a {
        margin-top: 0;
        padding-right: 2px;
    }

    .alert-title button {
        font-size: 13px;
        font-weight: bolder;
        margin-top: 14px;
        margin-left: 0;
    }

    .alternatively h2 {
        font-size: 18px;
        font-weight: bolder;
    }

    .reg-card-img {
        width: 52%;
    }

    .reg-card-img p {
        font-size: 12px;
    }

    .reg-card-img button {
        margin-top: 22px;
        font-size: 12px;
        font-weight: bolder;
    }
    /* Authenticated User Booking Page */
    .booking-container {
        padding-top: 70px;
    }

    .bookingform {
        max-width: 80%;
        margin-left: 10%;
    }

    textarea.form-control {
        height: 100px;
    }

    .booking-btn {
        margin-left: 22%;
        margin-top: 13px;
    }

    .bookingpg-img {
        height: 128vh;
    }

    /* User Bookings list */
    .user_booking_cards {
        padding-bottom: 235px;
        margin-bottom: -340px;
    }
    .user-booking {
        margin-top: 7em;
        margin-bottom: 2em;
        height: 153px;
        width: 409px;
    }

    #yourbooking {
        padding: 5px;
        width: 50%;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* home page */
    .navbar-brand {
        margin-left: 0;
    }

    ul {
        padding-right: 134px;
    }

    .img-fluid {
        width: 100%;
        height: 68vh;
        padding-top: 300px;
    }

    /* register page*/
    .card-container {
        margin-top: 80px;
    }

    .card {
        margin-top: 15px;
    }

    .register-container {
        margin-left: 29%;
    }

    /* Login page */
    .login-container {
        height: 95vh;
    }

    .login {
        margin-top: -55px;
        width: 60%;
        margin-left: 20%;
    }

    /* Menu page */
    .column.left {
        display: none;
    }

    .column.center {
        margin: 0;
    }

    .column.right {
        display: none;
    }
    
    .column img {
        padding-left: 0;
        padding-top: 94px;
        width: 400%;
    }

    /* Contacts Page */
    .form-container {
        width: 65%;
        margin-left: 17.5%;
        margin-top: 8em;
        margin-bottom: 0;
    }

    .form-container button {
        margin-left: 105px;
    }

    .contact-details {
        margin-left: 18%;
    }

    .gmap_canvas {
        width: 100% !important;
        padding-left: 83px;
    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 16em auto;
        height: 340px;
        width: 84%;
    }

    img.card-img-top {
        width: 290px;
    }

    .alert-title button {
        font-weight: bolder;
    }

    .reg-card-img button {
        margin-top: 51px;
        font-weight: bolder;
    }

    /* Authenticated User Booking Page */
    .bookingform {
        max-width: 65%;
        margin-left: 17.5%;
    }

    .booking-btn {
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* register page*/
    .card-container {
        margin-top: 80px;
    }

    .card {
        margin-top: 15px;
        width: 290px;
    }

    .register-container {
        padding-top: 25px;
        margin-left: 35%;
        height: 70vh;
    }

    /* Login page */
    .login {
    background-color: white;
    opacity: 0.9;
    width: 40%;
    margin-left: 57%;
    padding: 20px;
    }

    /* Menu page */
    .column.left {
        margin-left: -14px;
    }

    .column.center {
        margin-left: 61px;
    }

    .column.right{
        margin-left: 119px;
    }

    .right img {
        width: 340px;
    }

    .column img {
        padding-top: 54px;
    }

    /* Contacts Page */
    .form-container {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 0;
    }

    .contact-details {
        float: left;
        margin-top: 3em;
        margin-right: 43px;
        margin-left: 15%;
        height: 45vh;
    }

    .gmap_canvas {
        width: 55% !important;

    }

    /* not authenticated User alert */
    /* Booking Page */
    .register-alert {
        margin: 7em auto;
    }

    .reg-card-img button {
        margin-top: 47px;
    }

    /* Authenticated User Booking Page */
    .bookingform {
        max-width: 60%;
        margin-left: 20%;
    }

    .booking-btn {
        margin-left: 30%;
    }

    .bookingpg-img {
        height: 159vh;
    }

    .alternatively button {
        margin-top: 74px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1200px) {
    /* Menu page */
    .column.left {
        margin-left: -24px;
    }

    .column.center {
        margin-left: 61px;
    }

    .column.right{
        margin-left: 119px;
    }

    .right img {
        width: 340px;
    }

    .column img {
        padding-top: 54px;
        padding-left: 0px;
        width: 420px;
    }
}
