{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}
<div class="register-alert">
    <div class="alert-title">
        <h1>Oh No!!</h1>
        <p class="alert-text">We're so sorry but you need to be logged in if you wish to make a reservation</p>
        <div class="alert-control-register">
            <button><a href="{% url 'account_signup' %}">Register</a></button>
        </div>
        <div class="alert-control-login">
            <button><a href="{% url 'account_login' %}">Login</a></button>
        </div>
    </div>
    <div class="reg-card-img">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1648125656/beachbreakfast4_yldzwm.jpg" alt="Breakfast outside">
        <div class="alternatively">
            <h2>Alternatively</h2>
            <p>You can simply fill out a contact form providing us with your request and we can make the reservation on your behalf</p>
            <button><a href="{% url 'contacts' %}">Contact Us</a></button>
        </div>
    </div>
</div>
{% else %}
{% if user.is_authenticated %}
<main class="bookingpg-img">
    <div class="booking-container">
        <h2>Book a table</h2>
        <form class="bookingform" method="POST">
            {% csrf_token %}
            {{ booking_form.table | as_crispy_field }}
            {{ booking_form.group_size | as_crispy_field }}
            {{ booking_form.date | as_crispy_field }}
            {{ booking_form.start_time | as_crispy_field }}
            {{ booking_form.end_time | as_crispy_field }}
            {{ booking_form.comment | as_crispy_field }}

            <button class="booking-btn" type="submit">Book Table</button>
            <button class="btn-clear" type="reset">Clear Form</button>
        </form>
    </div>
</main>
{% endif %}
{% endif %}
{% endblock %}