{% extends "base.html" %}

{% block content %}
<div class="register-alert">
    <div class="alert-title">
        <h1>Oh No!!<i class="fas fa-frown-open"></i></h1>
        <p class="alert-text">We're so sorry but it seems that this table is not available. Please try another table or selecting a different time.</p>
        <div class="alert-control-register">
            <a href="{% url 'bookingform' %}"><button>Back to Booking</button></a>
        </div>
    </div>
    <div class="reg-card-img">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1649343942/pexels-ron-lach-8879653_1_bbjgjc.jpg" alt="Breakfast outside">
        <div class="alternatively">
            <h2>Alternatively</h2>
            <p>You can simply fill out a contact form providing us with your request and we can make the reservation on your behalf</p>
            <a href="{% url 'contacts' %}"><button>Contact Us</button></a> 
        </div>
    </div>
</div>
{% endblock %}