{% extends "base.html" %}

{% block content %}
<!-- hero images in carousel Bootstrap -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1646152266/hero-img2.jpg" class="img-fluid" class="d-block w-100" alt="Hall Reception">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1646152266/hero-img1.jpg" class="img-fluid" class="d-block w-100" alt="Bar View">
      </div>
    </div>
  </div>

{% endblock %}