{% extends "base.html" %}

{% block content %}

<div class="wrapper">
    <div class="menu">
        <div>
            <h2>Breakfast</h2>
            <h4>Starter</h4>
            <p>Lorem Ipsum</p>
            <h4>Mains</h4>
            <p>Lorem Ipsum</p>
            <h4>Sides</h4>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <h2>Lunch</h2>
            <h4>Starter</h4>
            <p>Lorem Ipsum</p>
            <h4>Mains</h4>
            <p>Lorem Ipsum</p>
            <h4>Sides</h4>
            <p>Lorem Ipsum</p>
        </div>
        <div>
            <h2>Dinner</h2>
            <h4>Starter</h4>
            <p>Lorem Ipsum</p>
            <h4>Mains</h4>
            <p>Lorem Ipsum</p>
            <h4>Sides</h4>
            <p>Lorem Ipsum</p>
        </div>
    </div>
    <div class="menufile">
        
    </div>
</div>

<!-- <img class="menu" src="https://res.cloudinary.com/rick-it-dev/image/upload/v1646152265/menu_ivnfyp.jpg" alt="Menu"> -->

{% endblock %}