{% extends "base.html" %}

{% block content %}

<div class="menu_container">
    <div class="column left">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1648727708/desert_outside_v7yjv0.jpg" alt="">
    </div>
    <div class="column center">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1648846241/3starmenu_e4miex.jpg" alt="">
    </div>
    <div class="column right">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1648751803/lunch_outside_vuf1ee.png" alt="">
    </div>
</div>

{% endblock %}