{% extends "base.html" %}

{% block content %}

<div class="menu_container">
    <div class="column left">
        <img class=".d-none .d-sm-block" src="https://res.cloudinary.com/rick-it-dev/image/upload/v1648727708/desert_outside_v7yjv0.jpg" alt="">
    </div>
    <div class="column center">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1649109713/3starmenu2_dewc0q.jpg" alt="">
    </div>
    <div class="column right">
        <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1648751803/lunch_outside_vuf1ee.png" alt="">
    </div>
</div>

{% endblock %}