{% extends "base.html" %}

{% block content %}

    {% for booking in bookings %}
    <main class="user_booking_cards">
        <div class="user-booking">
            <div class="alert-title" id="yourbooking">
                <p>{{ booking }}</p>
                <button class="userbooking-btn"><a href="{% url 'booking_amend' pk=booking.pk %}">Update</a></button>
                <button class="userbooking-btn"><a href="{% url 'booking_delete' pk=booking.pk %}">delete</a></button>
            </div>
            <div class="logout-card-img-user">
                <img src="https://res.cloudinary.com/rick-it-dev/image/upload/v1649699639/user_booking_img_q31hc6.jpg" alt="cheers">
            </div>
        </div>
    </main>
    {% endfor %}

{% endblock %}